<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".ui.currency.CurrencyCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.currency.UpdateRateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.currency.SearchCurrencyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.currency.CurrenciesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.CurrencyExchangeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ManageClientsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.transactions.TransferLogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.transactions.TransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.transactions.BalancesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.TransactionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.LoginLogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.user.FindUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.user.UpdateUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.user.DeleteUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.user.UsersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.user.AddUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.ManageUsersActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.transactions.WithdrawActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.transactions.DepositActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.FindClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.UpdateClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.DeleteClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.AddClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.ClientsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.Starting"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>